
/* MEDIA QUERY */


@media (max-width: 1050px) { 

ul, li {

    display:flex;
    flex-direction: column;
}

}

/* MEDIA QUERY */
@media (min-width: 1050px) { 

  
#burger {
    visibility: hidden;

}
#header_texte {
    
    padding-top: 250px;

}

#about {
    display: flex;
    flex-direction: row;

}
#skills-button {
    display: flex;
    flex-direction: column;
}

#services {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */

}

#services-icon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 50;
    align-items: center;
}
#img-portfolio-container {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}


.img-port {
    display: flex;
    flex-direction: column;
}  
.img-port2 {
    display: flex;
    flex-direction: row;
}


#testimo1 {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    padding: 50px;
}
#blog1 {
    display: flex;
    flex-direction: row; 
    align-items: center;
}
#contact1 {
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
  
}

}